PANDAS

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.2.4'

In [10]:
a1 = np.random.randint(10, size = 4)
a1

array([8, 8, 9, 3])

In [13]:
series1 = pd.Series(a1)
series2 = pd.Series(a1, index = ['a','b','c','d'])
series2

a    8
b    8
c    9
d    3
dtype: int32

In [18]:
series2['d']

3

In [20]:
dict = {
    "id" : ['a','b','c','d'],
    "name" : ["kashif", "asda", "asda", "asda"]
}

In [21]:
dict

{'id': ['a', 'b', 'c', 'd'], 'name': ['kashif', 'asda', 'asda', 'asda']}

In [26]:
df = pd.DataFrame(dict)

In [27]:
df.dtypes

id      object
name    object
dtype: object

In [30]:
df['marks'] = [99,34,65,76]
df

  id    name  marks
0  a  kashif     99
1  b    asda     34
2  c    asda     65
3  d    asda     76

In [37]:
df.iloc[::-1]

  id    name  marks
3  d    asda     76
2  c    asda     65
1  b    asda     34
0  a  kashif     99

In [38]:
df.loc[1]

id          b
name     asda
marks      34
Name: 1, dtype: object

In [43]:
df[df['marks'] > 90 & df['name'] & df['name'] contains

SyntaxError: invalid syntax (<ipython-input-43-383a091fc7e4>, line 1)